<template>
    <div>
        <div class="container-fluid">
            <div class="row">
                <div class="small-12 text-center">
                    <h4>Create Savings Goal </h4>
                </div>
            </div>
            <div class="row align-center">
                <div class="small-12 medium-7 columns">
                    <div class="card">
                        <div class="card-section">
                            <div class="row expanded">
                                <div class="small-12 columns">
                                    <Legend for="savingsGoalName"> What are you saving for? </Legend>
                                    <input id="savingsGoalName" class="form-control" type="text" v-model="title"
                                        placeholder="Title">

                                </div>
                            </div>
                            <div class="row expanded">
                                <div class="small-12 columns">
                                    <Legend for="targetAmount"> What is your target amount ? </Legend>
                                    <input id="targetAmount" class="form-control" type="text" v-model="targetAmount"
                                        placeholder="Target Amount">
                                </div>
                            </div>
                            <div class="row expanded">
                                <div class="small-12 columns">
                                    <Legend for="amountSaved"> Already have some saved ? </Legend>
                                    <input id="amountSaved" class="form-control" type="text" v-model="amountSaved"
                                        placeholder="Amount Already Saved">
                                </div>
                            </div>
                            <div class="row expanded">
                                <div class="small-12 columns text-right">
                                    <button @click="create()" type="button" class="btn btn-success">Create</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script src="./savingsGoalUpsert.ts"></script>